.input:focus {

}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.inputWrapper {
    position: relative;
}

.superInput {
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {

}

.error {
    color: #CC1439;
    position: absolute;
    left: 0;
    top: -23px;
}
