.buttonsContainer {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.clock {

}

.watch {
    font-size: 20px;
}

.watch strong {
    font-weight: 600;
}

.more {
    padding: 20px 0;
}